body{
    color: rgb(84, 22, 142);
    background: rgb(224, 153, 243);
}

header{
    border-bottom: solid 2px rgb(rgb(92, 15, 15));
    padding: 20px;
    font-size: 32px;
    color: rgb(rgb(230, 225, 238));
    background: rgb(rgb(192, 101, 101));
}
.chamada{
    background: cornsilk;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: right 5%;
}

p {
    text-align: center;
    font-size: 10px;
}

.categoria_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categorias {
    padding-left: 20px;
    padding-right: 20px;
}