body{
    color:rgb(80, 11, 96);
    background: rgb(174, 28, 174)
}

header{
    border-bottom: solid 2px rgb(rgb(238, 45, 45);
    padding: 20px;
    font-size: 32px;
    color: rgb(67, 4, 4);
    background: rgb(82, 9, 9);
}
.chamada{
    background: cornsilk;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: right 5%;

}

p {
    text-align: center;
    font-size: 10px;
}